* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e5e5e5e5;
}

a {
    text-decoration: none;
}

section h1 , p {
    color: #0b0c10;
    display: flex; 
    justify-content: center;
    align-items: center;
    line-height: 1.7rem;
}

.logo {
    color: #66fcf1;
    margin-left: 20px;
    padding: 20px;

}

/* Navbar */
#navbar {
    background-color: #0b0c10;
    overflow: auto;
}

#navbar a {
    color: #66fcf1;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: ;
    float: right;
}

#navbar ul li {
    float: left;
    list-style-type: none;
}

#navbar ul li a:hover {
    color: #fff;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

/* Home Section */
.home {
    background-color: #e5e5e5e5;
    height: 625px;
    padding-top: 200px;
    
}

.home p {
    margin: 50px;
    padding: 25px;
}

/* About Me Section */
.about {
    background-color: #fff;
    height: 625px;
    padding-top: 25px;
}

.about h1 {
    margin: 25px;
}

.about p {
    padding: 20px;
}
