* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main Styling */
html,body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    line-height: 1.7rem;
    
}

header {
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

section h1 , p {
    color: #0b0c10;

}

.logo {
    color: #66fcf1;
}

h1 {
    /* color: #66fcf1;
    padding-bottom: 20px;
    margin:  0 auto; */

    /* display: flex; 
    justify-content: center;
    align-items: center; */

}

p {
    /* color: #0b0c10;
    margin: 10px 0; */
}

/* Navbar */
#navbar {
    background-color: #0b0c10;
    overflow: auto;
}

#navbar a {
    color: #66fcf1;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: ;
    float: right;
}

#navbar ul li {
    float: left;
    list-style-type: none;
    h
}

#navbar ul li a:hover {
    color: #fff;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

