/***** Reset ****************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/****************************************************/


/***** Main Styling ********************************/
html,body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e5e5e5e5;
}

section h1 , p {
    color: #0a1428;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
    line-height: 1.7rem;
}
/****************************************************/


/***** Navbar ***************************************/
#navbar {
    background-color: #14213d;
    overflow: auto;
}

#navbar a {
    color: #fca311;
    text-decoration: none;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
}

#navbar ul li {
    float: left;
    list-style-type: none;
}

#navbar ul li a:hover {
    color: #fff;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

.logo {
    color: #fca311;
    margin-left: 20px;
    padding: 20px;

}
/*********************************************************/

/***** Home *********************************************/
.home {
    background-color: #e5e5e5e5;
    height: 625px;
    padding-top: 200px;
    
}

.home h1 {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.home p {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 25px;
}
/*******************************************************/

/***** Networking Links **************************/
.networking {
    color: #fca311;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.networking ul {
    list-style-type: none;
}

.networking ul li {
    float: left;
    padding: 10px;
}

.networking ul li:hover {
    color: #14213d;
}

.networking ul li i {
    
}

/***** About Me ************************************/
.about {
    background-color: #fff;
    height: 625px;
    padding-top: 25px;
}

.about h1 {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.about p {
    float: right;
    padding: 20px;
}

img {
    float: left;
    margin: 10px;
}
