/***** Reset ****************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/****************************************************/

/***** Global Variables *****************************/
:root {
    --hover-color: #000;
    --slide-background: #131FF2 ;
    --nav-button: #0F228C;
    --primary-text: #5B5B5B;
    --nav-text:#030A8C;
    --primary-background: #F2F2F2;
    --secondary-background: #e5e5e5e5;
}

/***** Main Styling ********************************/
html,body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--primary-background);
    color: var(--primary-text);
    line-height: 1.5rem;
}

/****************************************************/


/***** Navigation ***************************************/
.navbar {
    background-color: var(--primary-background);
    overflow: hidden;
    height: 63px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0 0 0;
}

.navbar ul li {
    list-style-type: none;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    color: var(--slide-background);
}

a:hover {
    color: var(--hover-color);
}

/* Slide Menu */
.side-nav {
    display: block;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: var(--slide-background);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav li {
    list-style: none;
}

/* Slide menu links */
.side-nav a {
    display: block;
    padding: 10px 10px 10px 30px;
    color: var(--primary-background);
    text-decoration: none;
}


.side-nav a:hover {
    color: var(--hover-color);
}

/* Slide menu close button */
.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}


/* Hides navbar links at 568px */
@media (max-width: 568px) {
    .desktop-navbar a{
        display: none;
    }
}

@media (min-width:568px) {
    .open-slide{
        display: none;
    }
}