/***** Reset ****************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/****************************************************/

/***** Global Variables *****************************/
:root {
    --hover-color: #131FF2 ;
    --button: #0F228C;
    --text: #5B5B5B;
    --secondary-text:#030A8C;
    --primary-background: #F2F2F2;
    --secondary-background: #e5e5e5e5;
}

/***** Main Styling ********************************/
html,body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--background-color-primary);
    color: var(--text-color);
    line-height: 1.5rem;
}

/****************************************************/


/***** Navbar ***************************************/
